/**************************/
/* SECTION OUR STORY */
/**************************/

.about-us-description {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 1.2rem;
}

.about-us-description:first-child::first-letter {
  font-size: 6.4rem;
  font-weight: 700;
  color: #888;
  line-height: 0;
}
.get-to-know-us-img {
  justify-self: center;
}

.grid--values {
  grid-template-columns: 50fr 45fr;
}

/**************************/
/* SECTION OUR TEAM */
/**************************/

.section-our-team {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.card {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  background-color: #fff;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  overflow: hidden;
  align-self: stretch;
}

.card-img {
  width: 100%;
}

.card-body {
  text-align: center;
  padding: 2.4rem;
}

.card-name {
  font-size: 2.4rem;
  font-weight: 600;
  color: #333;
  text-transform: capitalize;
}

.function {
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 0.8rem;
  color: #888;
}
