/* REUSABLE IN THE PAGE ... */
:root {
  --primary-color: #742722;
  --secondary-color: #f8f9fa;
}

/*************************************/
/************** SECTION HERO (DONE) *************/
/*************************************/

.section-hero {
  position: relative;
  height: 40rem;
  background-image:
    linear-gradient(rgb(34, 34, 34, 0.6), rgb(34, 34, 34, 0.6)),
    url("../img/hero-min.webp");
  background-size: cover;
  background-attachment: relative;
  background-position: 0px 85%;
}

.hero-text-block {
  position: absolute;
  width: 90rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  text-align: center;
  color: #fff;
  z-index: 1;
}

.hero-description {
  font-family: "Cinzel", serif;
  text-transform: lowercase;
  color: #fff;
  margin-bottom: 4rem;
}

/**************************/
/* SECTION OUR STORY */
/**************************/

.about-us-description {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 1.2rem;
}

.about-us-description:first-child::first-letter {
  font-size: 6.4rem;
  font-weight: 700;
  color: #888;
  line-height: 0;
}
.get-to-know-us-img {
  justify-self: center;
}

.grid--our-story {
  grid-template-columns: 40fr 60fr;
}
.grid--values {
  grid-template-columns: 30fr 30fr;
}

.section-meet-the-team {
  text-align: center;
}

.heading-special {
  font-size: 4.4rem;
  /* font-family: "Playfair Display", serif; */
  font-style: italic;
  text-transform: uppercase;
  border: 2px solid #eee;
  padding: 11.4rem 16rem;
  background-color: #fff;
}

.place-center {
  display: flex;
  justify-content: center;
}

/**************************/
/* MANUFACTURERS SECTION */
/**************************/

.heading-manufacturers {
  font-size: 2rem;
  font-family: "Cinzel";
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.7);
  padding-bottom: 5.6rem;
}

.grid-rows {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 6rem;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  /* max-width: 15.2rem; */
  height: 3.2rem;
}

.more-manufacturers {
  text-align: center;
  color: rgba(51, 51, 51, 0.7);
  font-family: "Cinzel";
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.4rem;
  /* font-weight: bold; */
}

/*************************************/
/****************** ABOUT US ******************/
/*************************************/
.section-testimonials {
  /* padding: 0; */
  background-color: #f8f9fa;
}

.testimonials-carousel {
  position: relative;
  display: flex;
  justify-content: center;
  width: 90rem;
  height: 35rem;

  margin: 0 auto;
  overflow: hidden;
  /* padding:; */
}

.testimonial-item {
  position: absolute;
  padding: 2.4rem 8rem;
  width: 80rem;
  background-color: transparent;
  transform: translateX(0);
  transition: transform 800ms;
}
.testimonial-header {
  display: flex;
  gap: 3.2rem;
  align-items: center;
}
.client-img {
  width: 9.6rem;
  border-radius: 50%;
  /* margin-bottom: 1.2rem; */
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.5;
  width: auto;
}

.testimonial-author {
  font-size: 2.4rem;
  font-weight: 500;
  color: #555;
  margin-bottom: 0.8rem;
}
.author-company {
  font-size: 1.4rem;
  color: #555;
}

.btn--caret {
  position: absolute;
  top: 50%;
  font-size: 2.4rem;
  height: 4.4rem;
  width: 4.4rem;
  background-color: rgba(255, 255, 255, 0.9);
  color: #555;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition:
    background-color 300ms,
    color 50ms;
}

.btn--caret:hover {
  background-color: rgba(223, 224, 225, 0.705);
  color: #f8f9fa;
}

.btn--caret-left {
  left: 0;
}
.btn--caret-right {
  right: 0;
}
