:root {
  --primary-color: #742722;
  --secondary-color: #f8f9fa;
}

.section--what-we-do {
  /* border-top: 2px solid var(--secondary-color); */
  /* border-bottom: 3px solid var(--secondary-color); */
}

section {
  padding: 0;
}
.img-what-we-do {
  height: 30rem;
  object-fit: cover;
  object-position: 0px -30rem;
}
.section--products {
  padding-top: 0;
}
.tabs-container {
  display: grid;
  grid-template-columns: auto auto;
  align-items: start;
  justify-content: start;
  column-gap: 3.2rem;
}

.tabs-menu {
  position: sticky;
  width: 35rem;
  top: 6.4rem;
  bottom: 6.4rem;
  padding: 1.6rem 2.4rem 1.6rem 2.4rem;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  font-size: 2rem;
  font-weight: 600;
  list-style: none;
}

.tab-content {
  display: none;
  visibility: hidden;
}

.tab-content--active {
  display: block;
  visibility: visible;
}

.menu-list li {
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #ddd;
}

.tabs-link:link,
.tabs-link:visited {
  color: #333;
}

.tabs-link--active:link,
.tabs-link--active:visited {
  color: var(--primary-color);
}

.heading-paragraph {
  margin-bottom: 1.6rem;
}

main ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

main li {
  display: flex;
  align-items: start;
  gap: 0.8rem;
  list-style-type: none;
}
