.pos-rel {
  position: relative;
}
.products-body {
  position: relative;
}
.products-body section {
  padding-left: 35rem;
}
.products-body .container {
  max-width: calc(120rem - 35rem);
  /* transform: translate(30rem, 0); */
}
.side-menu {
  position: absolute;
  width: calc(35rem - 3.2rem);
  top: 6.4rem;
  left: calc(50% - 60rem + 3.2rem);
  /* left: calc(100% - 125rem); */
  /* top: 6.4rem; */
  /* :#ddd; */
  /* left: calc((100vw - 1.533rem - 120rem) / 2); */
  /* left: 50%; */
  /* transform: translate(calc(-50vw), 6.4rem); */
  /* background-color: #742722; */
  background-color: #f8f9fa;
  padding: 3.6rem 2.4rem;
}

.fixed-menu {
  position: fixed;
}
.bottom-menu {
  bottom: 0;
}
.menu-body {
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  font-size: 2rem;
  font-weight: 600;
  list-style: none;
}

.menu-list li {
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #ddd;
}

.menu-list a {
  color: #333;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
.service-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3.2rem;
  row-gap: 4.4rem;
}

.service-item {
  /* justify-content: center; */
  /* padding: */
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
  /* padding: 6.4rem 0; */
  border: 2px solid #ddd;
}

.service-item.span-1 {
  grid-column: span 1;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
  justify-content: center;
}

.service-item.span-2 {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.service-icon {
  font-size: 6.4rem;
  color: #742722;
  justify-self: center;
  align-self: center;
}

.service-title {
  font-size: 2.4rem;
  font-weight: 500;
  padding-bottom: 1.2rem;
}
