.service-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3.2rem;
  row-gap: 4.4rem;
}

.service-item {
  /* justify-content: center; */
  /* padding: */
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
  /* padding: 6.4rem 0; */
  border: 2px solid #ddd;
}

.service-item.span-1 {
  grid-column: span 1;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
  justify-content: center;
}

.service-item.span-2 {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.service-icon {
  font-size: 6.4rem;
  color: #742722;
  justify-self: center;
  align-self: center;
}

.service-title {
  font-size: 2.4rem;
  font-weight: 500;
  padding-bottom: 1.2rem;
}
